@{ 
    @model VwBlog
} 
 <!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Blog</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a href=@Url.Action("index","home")>Home</a></li>
                    <li>Blog</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Latest news section -->
<section class="latest-news ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    @foreach (var item in Model.Blogs)
                    {
                        <div class="col-lg-6 col-md-6">
                            <div class="single-card actical-card">
                                <div class="thumb-img">
                                    <a href="#">
                                        <img src="~/Uploads/@item.Photo" alt="News Image" />
                                    </a>
                                </div>

                                <div class="caption-text">
                                    <h3><a href="@Url.Action("details","blogs",new { slug= item.Slug})">@item.Title</a></h3>

                                    <ul class="meta-tag">
                                        <li class="author">
                                            <img src="~/Uploads/@item.Author.Photo" alt="">
                                            <a href="@Url.Action("details","blog",new {slug=item.Slug })">@item.Author.Name</a>
                                        </li>
                                        <li>@item.Date.ToShortDateString()</li>
                                        @*<li><i class="icofont-speech-comments"></i> 30</li>*@
                                    </ul>

                                        <p>@item.Text</p>
                                    <a href=@Url.Action("details","blog",new {slug=item.Slug }) class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                                </div>
                            </div>
                        </div>
                    }


                    

                    <div class="col-lg-12 col-md-12">
                        <div class="pagination-area">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-center">
                                    @if (Model.Page != 1)
                                    {
                                        <li class="page-item"><a class="page-link" href="@Url.Action("index","blogs",new { page=Model.Page-1 })"><i class="icofont-hand-drawn-left"></i></a></li>

                                    }
                                    @for (int i = 1; i <= Model.TotalPage; i++)
                                    {
                                        <li class="page-item @(Model.Page==i?"active":"")">
                                            <a class="page-link" href="@Url.Action("index","blogs",new { page=i })">@i</a>
                                        </li>
                                    }
                                    @if (Model.Page != Model.TotalPage)
                                    {
                                        <li class="page-item"><a class="page-link" href="@Url.Action("index","blogs",new { page=Model.Page+1 })"><i class="icofont-hand-drawn-right"></i></a></li>

                                    }
                                   

                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="side-bar">
                    <div class="widget search-box">
                        <form>
                            <input type="text" class="form-control" id="search-box" name="search" placeholder="Search for...">
                            <button type="submit" class="default-btn"><i class="icofont-ui-search"></i></button>
                        </form>
                    </div>

                    <div class="widget latest-post">
                        <h4 class="title">Latest Post</h4>
                        @foreach (var item in Model.LatestBlogs.ToList())
                        {
                            <div class="single-post">
                                <div class="img">
                                    <a href=@Url.Action("details","blogs",new {slug=item.Slug })><img src="~/Uploads/@item.Photo" alt="latest-post"></a>
                                </div>

                                <div class="content">
                                    <ul>
                                        <li>Posted by <a href="#">@item.Postedby</a></li>
                                    </ul>
                                    <h4><a href=@Url.Action("details","blogs",new {slug=item.Slug })>@item.Title</a></h4>
                                </div>
                            </div>
                        }



                    </div>

                    <div class="widget categories">
                        <h3 class="title">Categories</h3>

                        <ul data-selected-id="@ViewBag.CategoryId" class="categories">
                            @foreach (var item in Model.BlogCategories)
                            {
                                <li><a href="@Url.Action("index","blogs",new { category = item.Id})">@item.Name</a></li>
                            }
                            
                        </ul>
                    </div>

                    <div class="widget popular-tags">
                        <h3 class="title">Popular Tags</h3>

                        <ul>
                            @foreach (var item in Model.Tags.ToList())
                            {
                                <li><a href="#">@item.Name</a></li>
                            }

                           
                        </ul>
                    </div>

                    <div class="widget quick-contact mb-0">
                        <h4>Quick contact to help?</h4>
                        <p>Excepteur sint occaecat non proident, sunt in culpa officia deserunt mollit anim id est laborum.</p>
                        <a href="#">Contact Us <span class="right"><i class="icofont-double-right"></i></span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Latest news section -->
<!-- Call To Action -->
@{
    Html.RenderPartial("~/Views/_CallAction.cshtml");
}

<!-- End Call To Action -->