@{ 
    @model VwHome
}
<!--Hero Slider-->
<div class="hero-slider owl-carousel owl-theme">
    <div class="hs-item" style="background-image : url(~/Uploads/@Model.Slider3.Photo)">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>@Model.Slider3.Text</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="hs-item" style="background-image : url(~/Uploads/@Model.Slider1.Photo)">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>@Model.Slider1.Text</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="hs-item " style="background-image : url(~/Uploads/@Model.Slider2.Photo)">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>@Model.Slider2.Text</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Slider -->
<!-- Services -->
<div class="services-area services-box">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Promedis.ToList())
            {
                <div class="col-md-6 col-lg-4">
                    <div class="single-card">
                        <div class="thumb-img">
                            <img src="~/Uploads/@item.Photo" alt="Service Image" />
                        </div>

                        <div class="caption-text text-center">
                            <h3>@item.Name</h3>
                            <p>@item.Text</p>                       
                        </div>
                    </div>
                </div>
            }


            

            
        </div>
    </div>
</div>
<!-- End Services -->
<!-- About Section -->
<section class="about-section ptb-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="about-us-img">
                    <img src="~/Uploads/@Model.About.Photo" alt="About Us Image">
                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="about-us-text">
                    <h2>@Model.About.Title</h2>

                    <p>@Model.About.Text</p>

                    <a href=@Url.Action("index","about") class="default-btn">About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->
<!-- Call To Action -->
@{
    Html.RenderPartial("~/Views/_CallAction.cshtml");
}
<!-- End Call To Action -->
<!-- Departments section -->
<section class="department-section pt-100 pb-50 gray-bg">
    <div class="container">
        <div class="section-title">
            <h2>Our Departments</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="row">
            @foreach (var item in Model.DepartmentCategories.ToList())
            {
                <div class="col-md-4 col-lg-3">
                    <div class="single-department">
                        <i class="@item.Logo"></i>
                        <h3>@item.Name</h3>
                        <p>@item.Text</p>
                    </div>
                </div>
            }
            
        </div>
    </div>
</section>
<!-- End Departments section -->
<!-- Video And Counter Section -->
@{
    Html.RenderPartial("~/Views/_VideoAndCounter.cshtml",Model.Counters);
}
<!-- End Vide and counter section -->
<!-- Expert Doctors -->

@{
    Html.RenderPartial("~/Views/_ExpertDoctors.cshtml", Model.Doctors);
}<!-- Edn Expert Doctors -->
<!-- Appointment Area -->
<div class="appointment-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-5 p-0">
                <div class="contant-number">
                    <h3><i class="icofont-phone"></i>@Model.Setting.Phone</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-7 p-0">
                <div class="appointment-form">
                    <h2 class="title">Make an Appointment</h2>
                    <form action=@Url.Action("book","appointment") method="post">
                        <div class="row">
                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id_name" placeholder="Name">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="id_email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id_phone_number" placeholder="Phone Number">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <select class="form-control">
                                        @foreach (var item in Model.DepartmentCategories.ToList())
                                        {
                                            <option>@item.Name</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <select class="form-control">
                                        @foreach (var item in Model.Doctors.ToList())
                                        {
                                            <option>@item.FullName</option>

                                        }

                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <input class="form-control" id="datepicker" placeholder="Booking Date">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn book-now-btn">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Appointment Area -->
<!-- Patient Feedback and Cta Area-->
@{
    Html.RenderPartial("~/Views/_PatientCtaArea.cshtml",Model.PatientFeedbacks);
}
<!-- End Patient Feedback and Cta Area-->
<!-- Latest news section -->
<section class="latest-news ptb-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Latest News</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="latest-news-carousel owl-carousel owl-theme owl-theme-2">
            @foreach (var item in Model.Blogs.ToList())
            {
                <div class="col-lg-6 col-md-6">
                    <div class="single-card actical-card">
                        <div class="thumb-img">
                            <a href="#">
                                <img src="~/Uploads/@item.Photo" alt="News Image" />
                            </a>
                        </div>

                        <div class="caption-text">
                            <h3><a href="@Url.Action("details","blogs",new { slug= item.Slug})">@item.Title</a></h3>

                            <ul class="meta-tag">
                                <li class="author">
                                    <img src="~/Uploads/@item.Author.Photo" alt="">
                                    <a href="@Url.Action("details","blog",new {slug=item.Slug })">@item.Author.Name</a>
                                </li>
                                <li>@item.Date.ToShortDateString()</li>
                                @*<li><i class="icofont-speech-comments"></i> 30</li>*@
                            </ul>

                            <p>@item.Text</p>
                            <a href=@Url.Action("details","blog",new {slug=item.Slug }) class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                        </div>
                    </div>
                </div>
            }

           
        </div>
    </div>
</section>