@{
    @model VwAbout
}
<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>About Us</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a href=@Url.Action("index","home")>Home</a></li>
                    <li>About Us</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Welcome Section -->
<section class="welcome-section ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Welcome to Promedi</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="row">
          
                @foreach (var item in Model.Promedismini.ToList())
                {
                    <div class="col-md-6 col-lg-4">
                        <div class="single-box">
                            <div class="icon">
                                <i class="@item.Logo"></i>
                            </div>

                            <h3>@item.Name</h3>
                            <p>@item.Text</p>
                        </div>
                    </div>
                }
          





         
        </div>

        <div class="welcome-inner-content">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-6">
                    <div class="welcome-image">
                        <img src="~/Uploads/@Model.About.Photo" alt="about">
                    </div>
                </div>

                <div class="col-lg-6">
                    <span>About our medical</span>
                    <h3>@Model.About.Title</h3>
                    <p>@Model.About.Text</p>
                    <ul>
                        @foreach (var item in Model.Promedisall.ToList())
                        {
                            <li>@item.Name</li>
                        }
                       
                    </ul>
                    <a href="#" class="default-btn">Learn More</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Welcome section -->
<!-- Video And Counter Section -->
@{
    Html.RenderPartial("~/Views/_VideoAndCounter.cshtml",Model.Counters);
}
<!-- End Vide and counter section -->
<!-- Expert Doctors -->
@{
    Html.RenderPartial("~/Views/_ExpertDoctors.cshtml", Model.Doctors);
}<!-- Edn Expert Doctors -->
<!-- Call To Action -->
@{
    Html.RenderPartial("~/Views/_CallAction.cshtml");
}

<!-- End Call To Action -->
<!-- Patient Feedback and Cta Area-->
@{
    Html.RenderPartial("~/Views/_PatientCtaArea.cshtml",Model.PatientFeedbacks);
}
<!-- End Patient Feedback and Cta Area-->

   