@model Department
@{
    ViewBag.Title = "Details";
    List<Department>
    departments = ViewBag.Departments as List<Department>;


}
<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Department</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a href=@Url.Action("home")>Home</a></li>
                    <li>Department</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Department Details section -->
<section class="department-details ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="department-details">
                    <div class="img">
                        <img src="~/Uploads/@Model.Photo" alt="department-details">
                    </div>

                    <div class="department-desc">
                        <h3>@Model.Title</h3>
                        <p>@Model.Text</p>

                    </div>

                    <div class="share-department">
                        <h4>Like this department?</h4>

                        <ul>
                            <li><a href="@Model.Facebook">Facebook</a></li>
                            <li><a href="@Model.Twitter">Twitter</a></li>
                            <li><a href="@Model.Instagram">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="department-sidebar">
                    <div class="department-info">
                        <h4>Head of Department</h4>
                        <ul>
                            <li>@Model.HeadofDepartmentposition <span>@Model.HeadofDepartmentname</span></li>
                        </ul>
                    </div>

                    <div class="department-info">
                        <h4>Event Hours</h4>
                        <ul>
                            @foreach (var item in Model.Eventhours.ToList())
                            {
                                <li>@item.DayTime <span>@item.Thepersonincharge</span></li>
                            }

                        </ul>
                    </div>

                    <div class="department-info mb-0">
                        <h4>Contacts</h4>
                        <ul>
                            <li>Address: <span>@Model.Address</span></li>
                            <li>Email: <span><a href="@Model.Mail">@Model.Mail</a></span></li>
                            <li>Call Us: <span>@Model.Phone</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Department Details section -->
<!-- Call To Action -->
@{
    Html.RenderPartial("~/Views/_CallAction.cshtml");
}

<!-- End Call To Action -->